<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test kro guys</title>
</head>

<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti numquam porro, error sunt laboriosam accusamus
        facere. Magni libero velit, repellat repellendus sunt pariatur explicabo! Exercitationem, minima tempore.
        Officia magni ea reprehenderit laboriosam quas distinctio optio in aperiam doloremque minima id sint possimus
        cum fugit itaque, dolorum odio aliquid! Fuga tempore porro beatae fugiat quis, eveniet minima!</p>
</body>

</html>